$body-color: #21252b;
$main-bg-color: #282c34; /* #35495e */
$main-border-color: #545454;
$main-text-color: #98c379; /* color: #42b983; */
$second-text-color: #abb2bf;
$ui-main-color: #353b45;
$main-font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
$scroll-track-color: #393e4a;
$nav-button-color: #353b45;

$color-orange: #d19a66;
$color-blue: #61afef;
$color-green: #98c379;
$color-red: #e06c75;

$active-color: #41b883;
$danger-color: #E55180;