$body-color: #21252b;
$main-bg-color: #282c34; /* #35495e */
$main-border-color: #545454;
$main-text-color: #98c379; /* color: #42b983; */
$main-font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
$active-color: #41b883;

$color-orange: #d19a66;
$color-blue: #61afef;
$color-green: #98c379;